@use "variables" as *;

.about {
  background-color: $bg-yellow;
  padding: $section-padding;

  .section-title {
    text-align: center;
    color: $text-brown;
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: normal;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .about-cards {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: flex-start;
  }

  .about-card {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      color: $text-brown;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: normal;
    }

    h4 {
      color: $text-brown;
      font-size: 18px;
      margin-bottom: 25px;
      font-weight: normal;
    }

    .about-image {
      width: 440px;
      height: 296px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 20px;
      border: 3px solid #ffffff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      color: $text-brown;
      font-size: 14px;
      line-height: 1.6;
      font-style: italic;
      max-width: 400px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    .about-cards {
      flex-direction: column;
      align-items: center;
    }
  }
}
