@use "variables" as *;

.hero {
  height: 500px;
  background-image: url("../images/cakeshopTwo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background-color: $bg-pink;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: #7a5239;
    font-size: 48px;
    line-height: 1.2;
  }
}
